<nav class="{{ attributes.class }}" role="{{ attributes.role}}" {{attributes}}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {{ content }}
</nav>
