{#
type: {{ node.bundle }} <br>
promoted ?{{ node.isPromoted }}<br>
view mode: {{ view_mode }}<br>
{{ node.isSticky }}
{{ node.isPublished }}

#}
<article class="node node--{{ node.id }} view-mode-{{ view_mode }} node--type-{{ node.bundle }} {{ attributes.class }}" {{ attributes }}>


  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ node.url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if content.links %}
    <footer class="link-wrapper">
      {{ author }}
      {% if display_submitted %}
        <div class="node__meta">
          {{ submitted }}
        </div>
      {% endif %}

      {{ content.links }}
    </footer>
  {% endif %}

  <div{{ content_attributes }}>
    {{ content|without('field_tags','field_image') }}
  </div>

  {{ links }}

</article>
